body {
  font-family: "Happy Monkey", cursive;
}
.container {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  box-shadow: 10px 10px 10px;
}
p,
li {
  color: #707070;
}
header {
  text-align: center;
}
h1 {
  color: #db0038;
}
h2 {
  color: #3998a3;
}
h3 {
  color: #474747;
}
.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding-bottom: 10px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
}
span {
  color: #f4b400;
  font-size: 25px;
}
footer {
  text-align: center;
}
